.answer-container{

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns:  2fr .1fr;
  grid-template-rows: 1fr .1fr;

  grid-template-areas: 
      " score next"
      " facts next"
      " info next ";
  grid-gap: 0rem;

}

#a-score{
  font-size: 1.5vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: score;

  margin-top: 2vw;
  margin-left: 3vw;
  margin-right: 3vw;

  
  font-family: 'Montserrat', sans-serif;
}

#slider-score{
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: score;
}

#toLink-image{
  width: 3vw;
  height: auto;
  top: 40px;
  filter: invert(1);
}


#facts{
  width: 80vw;
  height: 40vh;
  padding: 1vw;
  display: flex;
  grid-area: facts;
  justify-content: center;
  align-items: center;
  
  border:.2vw solid #60473b;
  font-size: 30vh;
  color: #ffffff;
  background-color: #162936;


  border-radius: 5px;
  margin-left: 6vw;


}

#info-box{
  width: 100%;
  justify-content: left;
  display: flex;  
  grid-area: info;
  float: left;
  font-size: 2vw;
}


#button-box{
  grid-area: next;
  cursor: pointer;
  height: 100%;
  width:6vw;
  display: flex;
  flex-direction: row;
  align-items: left;
  background-color: #162936;
  transition: 0.3s;
  box-shadow: 0px 0px 2vw -4px black;
  border: #162936;
  border-radius: 1vw;
}

#button-box:hover{
  background-color: #16293654;
}

#arrow-stack{
  display: flex;
  flex-direction: column;
  justify-content: left;

  align-items: left;

}


#next-text{
  align-items: left;
  margin-top: 1vw;
  margin-left: 1vw;
  font-size: 1.5vw;
  color: #F4762D;
}


.arrow {
  align-items: left;
  border: solid #F4762D;
  border-width: 0 .5vw .5vw 0;
  display: inline-block;
  padding: 2vw;
  margin-top: 11vh;
  margin-left: 0;

}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#blank{
  float: left;
  grid-area: blank;
}

/* ANSWERS/RIGHT SECTION */

.answer-text {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.image {
  object-fit: cover;
  width: 30vw;
  height: 40vh;
  float: center;

}

.column {
  flex: 50%;
  align-items: center;
  width: 30vw;
  height: 50vh;
  justify-content: center;
  display: flex;
}

.blurb {
  height: 40vh;
  display: flex;

  justify-content: center; /* align horizontal */
  align-items: center;

  font-size: 1.5vw;

  float: center;
  text-align: center;
  padding: 1vw;
  align-items: center;
  cursor: pointer;
  line-height: 1.7;
}

.bottom-strip {
  width: 100%;
  justify-content: right;
  display: flex;  
  margin-top: 60px;
  margin-left: 1vw;
}

#info{
  font-size: 1vw;
  margin: 1%;

}
