.answer-container{
  font-size: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: .05fr 1fr .07fr;
  grid-template-rows: 1fr 1fr .1fr;

  grid-template-areas: 
      "blank score next"
      "blank facts next"
      "blank info next ";
  grid-gap: 0.2rem;

}

#a-score{
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: score;
}

#slider-score{
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: score;
}


#facts{
  width: 60vw;
  height: 40vh;
  padding: 1vw;
  display: flex;
  grid-area: facts;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border:5px solid #ffffff;
  font-size: 30vh;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 5px;
  margin-left: 9vw;
  margin-top: 3vh;
}

#info-box{
  width: 100%;
  justify-content: left;
  display: flex;  
  margin-top: 60px;
  grid-area: info;
  float: left;
}


#button-box{
  float: top;
  grid-area: next;
  cursor: pointer;
  height: 100%;
  width:7vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #061c2c67;
  transition: 0.3s;
}

#button-box:hover{
  background-color: #061c2c;
}

#arrow-stack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}

#vl {
  border-left: 6px solid rgb(11, 3, 80);
  height: 100%;
}


.arrow {
  border: solid #e77d19;
  border-width: 0 1vw 1vw 0;
  display: inline-block;
  padding: 2vw;
  margin-top: 10vh;
  flex: 1;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#blank{
  float: left;
  grid-area: blank;
}

/* ANSWERS/RIGHT SECTION */

.answer-text {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.image {
  object-fit: cover;
  width: 30vw;
  height: 40vh;
  float: center;

}

.column {
  flex: 50%;
  align-items: center;
  width: 30vw;
  height: 50vh;
  justify-content: center;
  display: flex;
}

.blurb {
  height: 40vh;
  display: flex;

  justify-content: center; /* align horizontal */
  align-items: center;

  font-size: 1.5vw;

  float: center;
  text-align: center;
  padding: 1vw;
  align-items: center;
  cursor: pointer;
}

.bottom-strip {
  width: 100%;
  justify-content: right;
  display: flex;  
  margin-top: 60px;
  margin-left: 1vw;
}

#info{
  font-size: 1vw;
  margin: 1%;

}
