@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap');

.side-by-side {
    width: 100%;
    display: flex;
  }

.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: .25fr 1fr .5fr;
    grid-template-rows: .5fr 1fr;

    grid-template-areas: 
        "slideout banner logo"
        "slideOut otter play";
    grid-gap: 0.2rem;

  }

  #banner{
    background-color: #4daef8;
    grid-area: banner;
    font-size: 5vw;
    text-align: center;
    font-family: 'roboto' !important;
  }

  #slide-button{
    cursor: pointer;
    background-color: #252d4a;
    border: 5px solid rgb(85, 42, 8);
    width: 4vw;
    height: 30vh;
    font-size: 2vw;
    justify-content: center;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 0%;
  }

  #subheader{
    font-size: 3vw;
  }

  #slideOut{
      margin-top: 100px;
      background-color: #4daef8;
      grid-area: slideOut;
  }

  #otter{
      background-color: #4daef8;
      grid-area: otter;
      align-items: left;
      display: flex;
      flex-direction: row;
  }

  #otter-image{
    height: 70%;
    width: 40%;
  }

  #instructions{
    background-color: #252d4a;
    width: 50%;
    height: 60%;
    border: 5px solid rgb(85, 42, 8);
    border-style: double;
    padding: 50px;
    margin: 20px;
    align-items: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }

  #demo-slider{
    font-size: 2vw;

    width: 40%;
  }

  #logo{
    background-color: #4daef8;
    grid-area: logo;
    justify-content: right;
    position: absolute;
    right: 0;
  }

  #play{
    background-color: #4daef8;
    grid-area: play;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .play-button{
    cursor: pointer;
    border-top: 200px solid transparent;
    border-left: 400px solid #db6c04;
    border-bottom: 200px solid transparent;
  }


  @media only screen and (max-width: 550px){
    .container{
      grid-template-columns: 1fr .25fr;
      grid-template-rows: .2fr 1fr .25fr .25fr;
      grid-template-areas:
        "banner logo"
        "otter play"
        "leaderboard leaderboard"
        "stats stats";
    }

  }

