

.side-by-side {
    width: 100%;
    display: flex;
  }

.container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: .25fr 1.5fr .4fr;
    grid-template-rows: .5fr 1fr;

    grid-template-areas: 
        "slideout banner banner"
        "slideOut otter play";
    grid-gap: 0.2rem;


  }

  #banner{
    grid-area: banner;
    font-size: 5vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 5vh;

  }

  #slide-button{
    cursor: pointer;
    background-color: #39444A;
    
    border: .2vw solid #60473b;
    width: 4vw;
    height: 30vh;
    font-size: 2vw;

    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 3%;
    color: #91d4ed;
    line-height: normal;

    border-radius: 0% 20% 20% 0%;
  }

  #slide-button:hover{
    cursor: pointer;
    background-color: #91d4ed62;
    border: .2vw solid #60473b;
    width: 4vw;
    height: 30vh;
    font-size: 2vw;
    justify-content: center;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-left: 0%;
    color: #39444A;
  }
  #subheader{
    font-size: 3vw;
  }

  #slideOut{
      margin-top: 100px;

      grid-area: slideOut;
  }

  #otter{
      grid-area: otter;
      align-items: left;
      display: flex;
      flex-direction: row;
  }

  #otter-image{
    object-fit: cover;
    width: 30vw;
    height: 50vh;
    float: center;
  }

  #instructions{
    background-color: #39444A;
    width: 30vw;
    height: 40vh;
    border: .2vw solid #60473b;

    padding: 30px;
    margin: 2px;
    margin-top: 4vh;
    align-items: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    border-radius: 30px;

    color: #ffffff;
    background-color: #162936;

  }

  #demo-slider{
    font-size: 2vw;

    width: 20vw;
  }

  #logo{

    grid-area: logo;
    justify-content: right;
    position: absolute;
    right: 0;
    width: 10vw;
    height: 10vh;
  }

  #play{

    grid-area: play;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .play-button{
    cursor: pointer;
    border-top: 6vw solid transparent;
    border-left: 12vw solid #F4762D;
    border-bottom: 6vw solid transparent;
    margin-left: 1vw;
  }

  .play-button:hover{
    cursor: pointer;
    border-top: 6vw solid transparent;
    border-left: 12vw solid #ffffff;
    border-bottom: 6vw solid transparent;
  }


  @media only screen and (max-width: 550px){
    .container{
      grid-template-columns: 1fr .25fr;
      grid-template-rows: .2fr 1fr .25fr .25fr;
      grid-template-areas:
        "banner logo"
        "otter play"
        "leaderboard leaderboard"
        "stats stats";
    }

  }

