@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Montserrat&family=Oxanium&family=Poppins&family=Roboto+Slab&display=swap');

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  font-family: 'Montserrat', sans-serif;

}
* {
  color: #ffffff;
}

.colors {
  
  background-color: #00A3E0;
  background-color: #6CD1EF;
  background-color: #00A3E0;
  background-color: #7BC4C4;
}

body {
  
  

  background-color: #53B0AE;
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;


}



.title {
  font-size: 4vw;
  align-items: center;
  word-spacing: 10px;
  font-family: 'Oxanium', cursive;
}

.ansNum {
  font-size: 20px;
  color: #ffffff;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/* Ruler */

button {
  width: 200px;
  font-size: 28px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border:7px solid #e77d19;
  cursor: pointer;
  margin-bottom: 60px;
  margin-top: 60px;
}

.buttonNext {
  width: 150px;
  font-size: 40px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  align-items: right;
  border:7px solid #e77d19;
  cursor: pointer;
  margin-right: 450px;
  margin-bottom: 100px;

}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}


/*leaderBoard */


/*Stats */

