
  .leaderboard {
    width: 21vw;
    height: 60vh;

    align-items: left;
    font-size: 1vw;
    

    display: flex;
    flex-direction: column;


    padding: .5vw;
    margin: 1vw;
    word-spacing: 20px;
    
    border:.2vw solid #60473b;
    color: #ffffff;
    background-color: #162936;


  }
  
  #lb-title {
    font-size: 1.5vw;
    text-align: center;
  }
  
  ul.no-bullets {
    list-style-type: none;
  }
  
  .stats-text{
    display: flex;
    flex-direction: column;
    padding: 2%; 
    margin: 5%;
  }

  #leader-msg{
    font-size: 1.5vw;
    text-align: center;
    margin: 5vh;

  }