
/* QUESTION/TIMER/LEFT SECTION */

.quiz-container{
  display: grid;
  height: 90vh;
  width: 90vw;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-rows: .5fr 1fr .5fr .35fr;

  grid-template-areas: 
      "timer question-count question-count"
      "question-section question-section question-section"
      "inputs inputs inputs"
      "answer answer answer";
  grid-gap: 0.2rem;
}


#question-section {
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  grid-area: question-section;
  margin: 1%;
}

.upper-ribbon {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}



#timer {
  height: auto;
  width: auto;
  background-color: rgb(230, 153, 12);
  border-radius: 50%;
  text-align: center;
  line-height: 140%;
  font-size: 5vw;
  grid-area: timer;
  margin: 25%;
  padding: 1%;
}

#question-count {
  font-size: 2vw;
  margin: 5%;
  grid-area: question-count;
  justify-content: right;
  text-align: right;
}

#question-count span {
  font-size: 3vw;
  justify-content: right;
  text-align: right;
}

.question-text {
  margin-bottom: 50px;
}

#inputs{
  grid-area: inputs;
}

#answer{
  grid-area: answer;

}

#show-answer {
  width: 10vw;
  font-size: 2vw;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 10%;
  padding: 1%;
  border:.3vw solid #e77d19;
  cursor: pointer;
  margin: 5%;
  float: right;
}




