
/* QUESTION/TIMER/LEFT SECTION */

.quiz-container{
  display: grid;
  height: 90vh;
  width: 90vw;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-rows: .5fr .5fr .3fr .2fr;

  grid-template-areas: 
      "timer question-count question-count"
      "question-section question-section question-section"
      "inputs inputs inputs"
      "answer answer answer";
  grid-gap: 0.2rem;

}

#question-section {
  width: 100%;
  align-items: center;
  text-align: center;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  grid-area: question-section;
  margin: 1vw;
}

.upper-ribbon {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}

#slider {
  color: #032238;
}

#track {
  height: 10px;

  color: #032238;
}

#rail {
  height:10px;
  opacity: 1;

}

#timer {
  height: 8vw;
  width: 8vw;
  background-color: #F4762D;
  border-radius: 50%;
  text-align: center;
  line-height: 150%;
  font-size: 5vw;
  grid-area: timer;
  margin: 25%;
  padding: 1%;
}

#question-count {
  font-size: 1.5vw;
  margin: 5%;
  grid-area: question-count;
  justify-content: right;
  text-align: right;
}

#question-count span {
  font-size: 3vw;
  justify-content: right;
  text-align: right;
}

.question-text {
  margin-bottom: 50px;
}

#inputs{
  grid-area: inputs;
}

#answer{
  grid-area: answer;
}

#show-answer {
  margin-top: 5vh;
  cursor: pointer;
  border-top: 5vw solid transparent;
  border-left: 10vw solid #F4762D;
  border-bottom: 5vw solid transparent;

  float: right;
}

#show-answer:hover {

  cursor: pointer;
  border-top: 5vw solid transparent;
  border-left: 10vw solid #ffffff;
  border-bottom: 5vw solid transparent;

  float: right;
}


