.score-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: .25fr .5fr .6fr;
    grid-template-rows: .25fr 1fr;

    grid-template-areas: 
        "score score score"
        "leaderboard otter talk";
    grid-gap: 0.2rem;

  }

  #share{

    width: 10vw;

    border-radius: 25px;
    font-size: 1.5vw;
    margin: 2vw;
    text-align: center;
    line-height: 7vh;
    justify-content: center;
    position: absolute;
    right: 0;

    border:5px solid #39444A;
    color: #ffffff;
    background-color: #162936;
    box-shadow: 0px -7px 23px 5px black;
  }
  #share:hover{
    width: 10vw;

    border-radius: 25px;
    font-size: 1.5vw;
    margin: 2vw;
    text-align: center;
    line-height: 7vh;
    justify-content: center;
    position: absolute;
    right: 0;

    border:5px solid #39444A;
    color: #ffffff;
    background-color: #1629365b;
    box-shadow: 0px -7px 23px 5px black;
    

  }

  #lb-box{
      grid-area: leaderboard;
      align-items: center;
      justify-content: center;
      margin: 1vw;
  }

  #score{

      grid-area: score;
      font-size: 4vw;
      font-family: 'Montserrat', sans-serif;

      display: flex;
      flex-direction: row;
      justify-content: center;

      line-height: 15vh;
  }

  #otter-box{
    grid-area: otter;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #otter-talk{
    grid-area: talk;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
  }

  
  #otter-image{
    object-fit: cover;
    width: 30vw;
    height: 60vh;
  }

  #msg{

    width: 30vw;
    height: 60%;

    border-style: double;
    padding: 50px;
    margin: 20px;
    align-items: center;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
    
    border:5px solid #39444A;
    font-size: 30vh;
    color: #ffffff;
    background-color: #162936;
    box-shadow: 0px -7px 23px 5px black;
  }

  #options{
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  #option-button{
      width: 10vw;
      font-size: 2vw;
      color: #ffffff;
      background-color: #252d4a;
      border-radius: 20px;
      padding: .3vw;
      justify-content: center;
      align-items: center;
      border:7px solid #e77d19;
      cursor: pointer;
      text-align: center;
      margin: 3vw;

      border: 2px solid rgb(216, 110, 10);
      border-radius: 50px;
      color: white;

      background-color: #39444A;

  }

  #option-button:hover{
    background-color: #edeff8;
  }

/*LeaderBoard*/
  
.add-leader {
  width: 100%;
  align-items: center;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  
  line-height: 2;
  
}


.input[type=text]{
  border: 2px solid rgb(216, 110, 10);
  border-radius: 4px;
  background-color: #090846;
  color: white;
  width: 50%;
  height: 50px;
  font-size:50px;

  color: #ffffff;
  background-color: #39444A;
}
