
/*SLIDER*/

.question-container{
    align-items: center;
    flex-direction: column;
    display: flex;
}

#slider-box{
    width: 70%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    
}

#ans-slider{
    width: 50%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    margin: 4%;


}

#slider{
    
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
}


#input{
    color: white;
    font-size: 3vw;
    text-align: center;
    width: 30vw;
}

#input-box{
    grid-area: input;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    display: flex;
    flex-direction: row;
}

#units{
    font-size: 2vw;
    line-height: 170%;
}

.mySlider {
    align-items: center;
    flex-direction: column;
    display: flex;

}
  
.guessIn {
    font-size: 2vw;
    display: flex;
    flex-direction: row;
}
  
.answer-label{
    line-height: 1.5;
    font-size: 1.5vw;        
    padding: 0,
}

.guess-label{
    line-height: 5;
    font-size: 1.5vw;        
    padding: 0,
}