
  
  #stats{
    background-color: #39444A;
    grid-area: stats;
    font-size: 30px; 
    width: 21vw;
    height: 28vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: .2vw solid rgb(66, 32, 4);
    border-style: double;
    padding: .5vw;
    margin: 1vw;

    border:5px solid #39444A;
    color: #ffffff;
    background-color: #162936;
    box-shadow: 0px -7px 23px 5px black;
}


#stats-title {
  font-size: 1.5vw;
  text-align: center;
}

#stat{
    font-size: .8vw; 
    margin-bottom: 2%;
}