
  
  #stats{
    background-color: #39444A;
    grid-area: stats;
    font-size: 30px; 
    width: 21vw;
    height: 28vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    border:.2vw solid #60473b;

    padding: .5vw;
    margin: 1vw;

    color: #ffffff;
    background-color: #162936;


}


#stats-title {
  font-size: 1.5vw;
  text-align: center;
}

#stat{
    font-size: .8vw; 
    margin-bottom: 2%;
}